@*The Assessment will be covering Exercise 04*@

@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 04-C");
    string artistid = "";
    string artistname = "";
    //reteive the passed data value
    //to retreive the passed data use .QueryString["label"]
    //data is returned as a string
    var cid = Request.QueryString["cid"];

    //good practice
    //check that you actually retreived data

    //use data to lookup products
    var db = Database.Open("CHINOOK");
    var artistquery = @"SELECT AlbumId, Title, ArtistId, ReleaseYear, ReleaseLabel
FROM Albums
WHERE AlbumId = @0
ORDER BY AlbumId";

    var albuminfo = db.Query(artistquery, cid);

    //use data to get category name for display heading
    //yes: you could have passed the category name with the category id
    //demonstration of using .QueryValue()


    //setup display to use the class WebGrid
    //assign the display data to the instance when it is created
    //to alter the number of rows display by the WebGrid instance,
    //   you need to specify the value when you first create the instance
    //   syntax attribute --> rowsPerPage:value
    var gridinstance = new WebGrid(albuminfo, rowsPerPage: 5);
}


@section banner {
    <h1>WebGrid Display</h1>
}
<div class="offset-1">
    <div class="col-11">
        @gridinstance.GetHtml(
            tableStyle: "table table-striped table-bordered table-hover",
            mode: WebGridPagerModes.All,
            firstText: "Start",
            lastText: "End",
            columns: gridinstance.Columns(
               gridinstance.Column(columnName: "Title", header: "Album Title"),
               gridinstance.Column(columnName: "ArtistId", header: "ArtistID"),
                gridinstance.Column(columnName: "ReleaseLabel", header: "Record Label"),
               gridinstance.Column(columnName: "ReleaseYear", header: "Release Year")
))
    </div>
</div>