<!--change to chinook database in both web config as well as exercise. reference samples... copy paste essentially from simple query in samples and change to fit for EXERCISE 2_A --> 
<connectionStrings>
  <add name="NWDB"
        connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
  <add name="CHINOOK"
      connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
      providerName="System.Data.SqlClient"/>

</connectionStrings>
